
<!-- banner -->
<section class="full banner">
    <section>
        <div class="module-group n-mods-1 two-fifths">
            <div class="module">
                <div class="centered">
                    <h1>Free Your Hosting</h1>
                    <p>
                        Vapor CDN allows you to offset your hosting to the users who are concurrently consuming your
                        content.
                    </p>
                    <p>
                        Offset the cost of your hosting service by seamlessly integrating VCDN on your website or
                        application today.
                    </p>
                    <p>
                        <a href="#">» Learn More</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- End banner -->

<!-- sections -->
<section>
    <h1 class="fa started">About</h1>
    <div class="module-group n-mods-2 two-fifths">
        <div class="module">
            <h3>How it works?</h3>
            <p>
                By leveraging modern web technologies such as WebRTC, VCDN creates a peer-to-peer network of your
                site's current users. Subsequent connecting users download your site's content (Images, JavaScript,
                Video Streams, etc) directly from their peers.
            </p>
            <p>
                Offsetting bandwidth from your host to VCDN and your site peers has the potential to save big money.
                Beyond savings, VCDN is energy efficient by diminishing the need for big data and server farms which
                helps the environment.
            </p>
            <p>
                <a href="#">Learn more</a> about what VCDN is capable of.
            </p>
        </div>
        <div class="module">
            <h3>Get VCDN</h3>
            <p>
                We don't expect you to buy until you try. <a href="#">Start a free trial</a> and see for yourself
                the cost savings VCDN can generate for you and your organization.
            </p>
            <p>
                If you know VCDN is for you, <a href="#">sign up</a> for an account or <a href="#">read more</a>
                about our cost/pricing metric.
            </p>
            <p>
                <a href="#">» Get VCDN</a>
            </p>
        </div>
    </div>
</section>
<section>
    <h1 class="fa features">Features</h1>
    <div class="module-group n-mods-2 two-fifths-flip">
        <div class="module">
            <h3>Technologies</h3>
            <ul>
                <li>Intelligent bandwidth reduction</li>
                <li>Seamlessly integrates with any site</li>
                <li>Asset caching w/ controlled expiration</li>
                <li>Geolocation based prioritization</li>
                <li>Distributed peer asset transfer</li>
                <li>API access for developers</li>
                <li>Real time usage statistics/monitoring</li>
                <li>JS, CSS, Image, Video, and more support</li>
            </ul>
        </div>
        <div class="module">
            <h3>VCDN Demo</h3>
        </div>
    </div>
</section>
<section>
    <h1 class="fa developers">Developers</h1>
    <div class="module-group n-mods-3">
        <div class="module">
            <h3>Quick Install</h3>
        </div>
        <div class="module">
            <h3>Open Source</h3>
        </div>
        <div class="module">
            <h3>Contribute</h3>
        </div>
    </div>
</section>
<!-- End sections -->
